{% extends 'base.html' %}
{% block title %}公开课评论－慕学在线网{% endblock %}
{% load staticfiles %}
 {% block custom %}
<div id="main">
                <!--about_page start-->
                <div class="about_page">
                    <!--about_items start-->
                    <div class="about_items">
                        <div class="grey_bar">
                            <!--breadcrumbs start-->
                            <div id="breadcrumbs">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li>» </li>
                                    <li>Article</li>
                                </ul>
                            </div>
                            <!--breadcrumbs end-->
                            <h2>
                                文章列表
                            </h2>
                        </div>
                        <p>
                            共{{total_articles}}篇文章.<br />
                        </p>
                        <br />
                        {% for contact in contacts %}
                        <h2><a href="{% url 'detail' contact.id %}">{{contact.title}}</a></h2>
                        <br />
                        <P>{{contact.body|slice:'200'}}</p>
                        <div class="Skills_widget_stars"></div>
                        <br />
                        {% endfor %}

                        <div class="pagination">
                        <span class="step-links">
                            {% if contacts.has_previous %}
                                <a href="?page={{ contacts.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                            </span>

                            {% if contacts.has_next %}
                                <a href="?page={{ contacts.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                        </div>
                    </div>
                    <!--about_items end-->
                    <!--Skills_items end-->
                    <div class="Skills_items">
                        <!--block start-->
                        <div class="block">
                            <h3>
                                热门</h3>
                            <br />
                           {% for article in articles %}
                            <a href="{% url 'detail' article.id %}" style="color:#CCC">
                                {{article.title}}:{{article.body|slice:'19'}}</a><br/>
                            {% endfor %}
                        </div>
                        <!--block end-->
                        <div class="clearfix">
                        </div>
                        <br />
                    </div>
                    <!--Skills_items end-->
                </div>
                <!--about_page end-->
            </div>
 {% endblock %}



