{% extends 'base.html' %}
{% load staticfiles %}
 {% block custom %}
 <div id="main">
                <!--about_page start-->
                <div class="about_page">
                    <!--about_items start-->
                    <div class="about_items">
                        <div class="grey_bar">
                            <!--breadcrumbs start-->
                            <div id="breadcrumbs">
                                <ul>
                                    <li><a href="{% url 'articles' %}">Article</a></li>
                                    <li>» </li>
                                    <li>Detail</li>
                                </ul>
                            </div>
                            <!--breadcrumbs end-->
                            <h2>
                               文章详情
                            </h2>
                        </div>

                        <h2>
                                {{article.title}}
                            </h2>
                        <br/>
                        <p>
                           {{article.body}}<br />
                        </p>
                        <br />
                        <p>
                           {{article.publish}}
                           {% if request.user.is_authenticated %}
                            &nbsp;&nbsp;
                            <a name="edit" href="{% url 'edit' article.id %}">编辑</a>
                            <a name="delete" href="javascript:;" id="delete">删除</a>
                            <br />
                            {% endif %}
                        </p>
                        <br />
                    </div>
                    <!--about_items end-->
                    <!--Skills_items end-->
                    <div class="Skills_items">
                        <!--block start-->
                        <div class="block">
                            <h3>
                                Note</h3>
                            <br />
                            <p>
                                如果你觉得这篇文章不错，可以点击下面&nbsp;like&nbsp;点赞</p>
                        </div>
                        <!--block end-->
                        <div class="clearfix">
                        </div>
                        <br />
                        <!--block start-->
                        <div class="block">
                            <h3>
                                More detail</h3>
                            <!--Skills_widget_items start-->
                            <div class="Skills_widget_items">
                                <div class="Skills_widget_title">
                                    浏览次数：{{total_views}}
                                </div>
                                <br/>
                                <!--Skills_widget_title start-->
                                <div class="Skills_widget_title">
                                    给颗星星吧&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="like">like</button>
                                </div>
                            </div>
                                <div class="Skills_widget_stars">
                                    <img class="widget_stars" src="{% static 'images/star.png' %}" width="16" height="16" alt="" />
                                    {% for i in likes %}
                                    <img class="widget_stars" src="{% static 'images/star.png' %}" width="16" height="16" alt="" />
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <!--block end-->
                    </div>
                    <!--Skills_items end-->
                </div>

                <!--about_page end-->
            </div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"  ></script>
<script type="text/javascript">
    $("#like").click(function(){
        $.ajax({
            url:"{% url 'article_likes' article.id %}",
            type:"POST",
             success:function(e){
                 if(e=='1'){
                     alert("天上星亮晶晶🌟星星已送出，么么哒～");
                    $(".Skills_widget_stars").append('<img class="widget_stars" src="/static/images/star.png" width="16" height="16">');
                 }else{
                     alert("数据库出错");
                 }
             }
        });
    });



    $("#delete").click(function(){
        $.ajax({
             url:"{% url 'delete_article' article.id %}",
             type:"POST",
             success:function(e){
                if(e=='1'){
                    alert("删除成功，请至博客列表页查看");
                    location.href="{% url 'articles' %}";
                }else{
                    alert("数据库出错");
                }
             }
        });
    });


</script>
 {% endblock %}



