{% extends 'base.html' %}
{% load staticfiles %}
{% block custom %}
<div id="main">
                <!--contact_page start-->
                <div class="contact_page">
                    <!--contact_items start-->
                    <div class="contact_items">
                        <!--grey_bar start-->
                        <div class="grey_bar">
                            <!--breadcrumbs start-->
                            <div id="breadcrumbs">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li>» </li>
                                    <li>Publish</li>
                                </ul>
                            </div>
                            <!--breadcrumbs end-->
                            <h2>
                                新增文章
                            </h2>
                        </div>
                        <div class="formblock">
                        </div>
                        <div class="formblock">
                            {{form.title}}
                            <!--<input name="name" type="text" id="name" onclick="this.value=''" value="标题" />-->
                        </div>
                        <div class="formblock">
                            {{form.body}}
                            <!--<textarea name="message" id="message" cols="" rows="" onclick="this.value=''" class="textarea">内容</textarea>-->
                            <div class="clearfix">
                            </div>
                            <br />
                            <div class="send_btn"  class="send-message">
                                <a href="javascript:;" class="send-message">发送</a>
                            </div>
                            <img src="{% static 'images/send_btn.png' %}" id="img-sending" alt="sending message..." />
                            <div id="mail-send-msg">
                            </div>
                        </div>
                    </div>
                    <!--contact_items end-->
                    <!--contact_sidebar end-->
                    <div class="contact_sidebar">
                        <!--address start-->
                        <div id="address">
                            <br/>
                            <h2>Live beautifully</h2> 
                            <ul>
                                <li>dream passionately</li>
                                <li>love completely</li>
                                <li>❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️️️</li>
                                <li>💕💕💕💕💕💕💕💕💕💕️</li>
                                <li>
                                    <br />
                                </li>
                                <li>If you wish to succeed, you should use persistence as your good friend, experience as your reference, prudence as your brother and hope as your sentry. </li>
                                <li>Don't say love easily, promises the promise is debt!</li>
                                <li>To the world of governance in the talent, into the world of people in the enlightenment.</li>
                                <li>There's only one corner of the universe you can be sure of improving, and that's your own self.</li>
                            </ul>
                        </div>
                        <!--address end-->
                        <div class="clearfix">
                        </div>
                    </div>
                    <!--contact_sidebar end-->
                </div>
                <!--contact_page end-->
            </div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"  ></script>
<script type="text/javascript">
  $(".send-message").click(function()
  {
      var title=$("#id_title").val();
      var body=$("#id_body").val();
      $.ajax({
            url:"{% url 'publish' %}",
            type:"POST",
            data:{"title":title,"body":body},
            dataType:"JSON",
            success:function(e){
                if (e.state=="1"){
                    alert("发送成功，请到博客列表页查看");
                    window.location.reload();
                }else{
                    $("input[name='title']").attr("placeholder",e.title);
                    $("textarea[name='body']").attr("placeholder",e.body);
                }
            }
      });
  });
</script>

{% endblock %}



